body{
  margin:0;
  font-family:sans-serif;
  background:#111;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.box{
  text-align:center;
}

#number{
  font-size:60px;
  margin:20px 0;
  font-weight:bold;
}